@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-fade-out {
  animation: fade-out 0.5s ease forwards;
}


.scrollbar-area::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-area::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-area::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 20px;
}

.scrollbar-area:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

.scrollbar-area:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

/* Firefox */
.scrollbar-area {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-area:hover {
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}